<!-- extended from base.html -->
{% extends 'base.html' %}

<!-- title -->
{% block title %} Register- {% endblock title %}

<!-- body -->
{% block body %}
<!-- Register user -->
<div class="add_task">
    <h2>Create Account</h2>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Choose a username" required>
        <input type="password" name="password" placeholder="Create a password" required>
        <!-- User already exist -->
        {% if error %}
        <p class="form_error">{{ error }}</p>
        {% endif %}
        <div class="form_actions">
            <button type="submit" class="btn btn_primary">Register</button>
            <a href="/login" class="btn btn_secondary">Login</a>
        </div>
    </form>
</div>

{% endblock body %}
